* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
}


#Facebook {
    background: rgb(240, 69, 69);
    color: #ffffff;

}

#Google {
    background: rgb(240, 69, 69);
    color: #ffffff;
}